/* light green : #198754 */
/* dark green : #104122 */
.my-sidebar-class{
    background-color: #104122!important;
}
.my-logo-class{
    background-color: #ffffff!important;
}
.my-text-color{
    color: #198754 !important;
}
.my-btn-color{
    background-color: #198754 !important;
}
.db-logo{
    width: 85%;
}

/* ✔ Tick List Style */
.tick-list {
    list-style: none;
    padding-left: 0;
}

.tick-list li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 8px;
}

.tick-list li::before {
    content: "✔";
    color: #28a745;
    font-weight: bold;
    position: absolute;
    left: 0;
    top: 0;
}

